{
  "extends": ["onepass"],
  "env": {
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "no-shadow": [2, { "hoist": "functions" }],
    "react/jsx-props-no-spreading": ["off"]
  }
}
