PORT=
NODE_ENV=
DB_URI=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
DEFAULT_DOMAIN=
API_ENDPOINT=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SECURE=false
MAIL_FROM='<OnePass> no-reply@example.com'