# App port to run on
PORT=4000

# Node environment 
NODE_ENV=

# The domain that this website is on
DEFAULT_DOMAIN=

# Endpoint to request API calls. Example, "http://localhost:4000/api/v1"
API_ENDPOINT=

# A passphrase to encrypt JWT. Use a long and secure key.
JWT_SECRET=

# Neo4j database credential details
DB_URI="bolt://localhost"
DB_USERNAME=
DB_PASSWORD=

# Your email host details to use to send verification emails.
# MAIL_FROM example: "OnePass <no-reply@example.com>". Leave empty to use MAIL_USER
MAIL_FROM=''
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SECURE=false

# Admin emails (comma seperated)
ADMIN_EMAILS=''